.App {
  text-align: center;
}

.datos{
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: 100%;
  align-items: center;
}

.datos input{
  width: 300px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
  justify-content: center;
}

.datos button{
  width: 300px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
  color: white;
  background-color:#432deb;
}

.input-group .toggle-password {
    cursor: pointer;
}