.login{
    display: flex;
  flex-direction: column;
  justify-content:center;
  width: 100%;
  align-items: center;
}
 .formulario{
    width: 300px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
    justify-content: center;
}

.formulario button{
  width: 300px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
  color: white;
  background-color:#432deb;
}