header {
    background-color: #2d90eb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

nav{
    display: flex;
    gap: 20px;

}

nav a{
    text-decoration: underline;
    color: white;
    margin: 10px;
    font-size: 20px;
}

.boton{
    background-color: white;
    color: #2d90eb;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

/* Estilos para el logo */
#logo{
    width: 170px;
    height: 150px;
    margin: 30px;
}
#Titulo{
    font-size: 40px;
    color: black;
}

/* Estilos para la sección Hero */
.hero {
    background-color: #e9ecef;
    padding: 50px 0;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.25rem;
}

.contenido{
    align-items: center;
}


#imagen{
    margin: 30px;
    height: 500px;
    width: 1200px;
}
/* Estilos para el footer */
.footer{
    background-color: #432deb;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    margin-left: 200px;
}

.footer-links a{
    font-size: 18px;
    text-decoration:underline;
    color: white;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul a:hover{
    color: white;
    padding-left: 6px;
}

.social-link a{
    display: inline-block;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .3s ease;

}

#siguenos{
    text-decoration:underline;
    color: white;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

/* Animaciones y efectos */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.highlight {
    color: #007bff;
    font-weight: bold;
}

.highlight:hover {
    color: #0056b3;
}

/* Estilos adicionales para el botón de mostrar/ocultar contraseña */
.input-group .toggle-password {
    cursor: pointer;
}

.contenedor{
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#escudo{
    width: 70px;
    height: 70px;
    margin: 10px;
}


